!!!
%html.client-nojs{:dir => "ltr", :lang => "en"}
  %head
    %title RDO
    %meta{:charset => "UTF-8"}/
    %meta{:content => "MediaWiki 1.20.3", :name => "generator"}/
    %link{:href => "/favicon-rdo.ico", :rel => "shortcut icon"}/
    %link{:href => "/opensearch_desc.php", :rel => "search", :title => "RDO (en)", :type => "application/opensearchdescription+xml"}/
    %link{:href => "http://rdoproject.org/api.php?action=rsd", :rel => "EditURI", :type => "application/rsd+xml"}/
    %link{:href => "http://creativecommons.org/licenses/by-sa/3.0/", :rel => "copyright"}/
    %link{:href => "/index.php?title=Special:RecentChanges&amp;feed=atom", :rel => "alternate", :title => "RDO Atom feed", :type => "application/atom+xml"}/
    %link{:href => "http://rdoproject.org/load.php?debug=false&amp;lang=en&amp;modules=mediawiki.legacy.commonPrint%2Cshared&amp;only=styles&amp;skin=strapping&amp;*", :rel => "stylesheet"}/
    %link{:href => "/skins/strapping/bootstrap/css/bootstrap.css?303", :media => "screen", :rel => "stylesheet"}/
    %link{:href => "/skins/strapping/bootstrap/css/bootstrap-responsive.css?303", :media => "screen", :rel => "stylesheet"}/
    %link{:href => "/skins/strapping/bootstrap/awesome/css/font-awesome.css?303", :media => "screen", :rel => "stylesheet"}/
    %link{:href => "/skins/strapping/screen.css?303", :media => "screen", :rel => "stylesheet"}/
    %link{:href => "/skins/strapping/theme.css?303", :media => "screen", :rel => "stylesheet"}/
    %meta{:content => "", :name => "ResourceLoaderDynamicStyles"}/
    :css
      a:lang(ar),a:lang(ckb),a:lang(fa),a:lang(kk-arab),a:lang(mzn),a:lang(ps),a:lang(ur){text-decoration:none}
      /* cache key: my_wiki-mw_:resourceloader:filter:minify-css:7:cac3cbe4a961cb38e41d63b5a927aa3f */
    %script{:src => "http://rdoproject.org/load.php?debug=false&amp;lang=en&amp;modules=startup&amp;only=scripts&amp;skin=strapping&amp;*"}
    :javascript
      if(window.mw){
      mw.config.set({"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":0,"wgPageName":"Main_Page","wgTitle":"Main Page","wgCurRevisionId":1808,"wgArticleId":1,"wgIsArticle":true,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":[],"wgBreakFrames":false,"wgPageContentLanguage":"en","wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgMonthNamesShort":["","Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"wgRelevantPageName":"Main_Page","wgRestrictionEdit":["sysop"],"wgRestrictionMove":["sysop"],"wgIsMainPage":true,"wgWikiEditorEnabledModules":{"toolbar":false,"dialogs":false,"hidesig":true,"templateEditor":false,"templates":false,"preview":false,"previewDialog":false,"publish":false,"toc":false}});
      }
    :javascript
      if(window.mw){
      mw.loader.implement("user.options",function(){mw.user.options.set({"ccmeonemails":0,"cols":80,"date":"default","diffonly":0,"disablemail":0,"disablesuggest":0,"editfont":"default","editondblclick":0,"editsection":1,"editsectiononrightclick":0,"enotifminoredits":0,"enotifrevealaddr":0,"enotifusertalkpages":1,"enotifwatchlistpages":0,"extendwatchlist":0,"externaldiff":0,"externaleditor":0,"fancysig":0,"forceeditsummary":0,"gender":"unknown","hideminor":0,"hidepatrolled":0,"imagesize":2,"justify":0,"math":1,"minordefault":0,"newpageshidepatrolled":0,"nocache":0,"noconvertlink":0,"norollbackdiff":0,"numberheadings":0,"previewonfirst":0,"previewontop":1,"quickbar":5,"rcdays":7,"rclimit":50,"rememberpassword":0,"rows":25,"searchlimit":20,"showhiddencats":0,"showjumplinks":1,"shownumberswatching":1,"showtoc":1,"showtoolbar":1,"skin":"strapping","stubthreshold":0,"thumbsize":2,"underline":2,"uselivepreview":0,"usenewrc":0,"watchcreations":0,"watchdefault":0,"watchdeletion":0,"watchlistdays":3,
      "watchlisthideanons":0,"watchlisthidebots":0,"watchlisthideliu":0,"watchlisthideminor":0,"watchlisthideown":0,"watchlisthidepatrolled":0,"watchmoves":0,"wllimit":250,"variant":"en","language":"en","searchNs0":true,"searchNs1":false,"searchNs2":false,"searchNs3":false,"searchNs4":false,"searchNs5":false,"searchNs6":false,"searchNs7":false,"searchNs8":false,"searchNs9":false,"searchNs10":false,"searchNs11":false,"searchNs12":false,"searchNs13":false,"searchNs14":false,"searchNs15":false});;},{},{});mw.loader.implement("user.tokens",function(){mw.user.tokens.set({"editToken":"+\\","watchToken":false});;},{},{});
      /* cache key: my_wiki-mw_:resourceloader:filter:minify-js:7:0b129b8580f3f1c990212f6295656b79 */
      }
    :javascript
      if(window.mw){
      mw.loader.load(["mediawiki.page.startup","mediawiki.legacy.wikibits","mediawiki.legacy.ajax"]);
      }
    /[if lt IE 7] <style type="text/css">body{behavior:url("/skins/strapping/csshover.min.htc")}</style>
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body.mediawiki.ltr.sitedir-ltr.ns-0.ns-subject.page-Main_Page.skin-strapping.action-view
    #mw-page-base.noprint
    #mw-head-base.noprint
    / Header
    #page-header.container.signed-out
      %section.span12
        %ul.nav.logo-container{:role => "navigation"}
          %li#p-logo
            %a{:href => "/Main_Page", :title => "Visit the main page"}
              %img{:alt => "RDO", :src => "/skins/common/images/rdo-logo-white.png"}/
          %li/
        %ul.navigation.nav.nav-pills.pull-right.searchform-disabled
          / 0
          %li
            %a#n-Sign-In{:href => "http://rdoproject.org/forum/entry/signin", :rel => "nofollow"} Sign In
          %li.active
            %a#n-Home{:href => "/Main_Page"} Home
          %li
            %a#n-Quick-Start{:href => "/Quickstart"} Quick Start
          %li
            %a#n-Docs{:href => "/Docs"} Docs
          %li
            %a#n-Forum{:href => "http://rdoproject.org/forum", :rel => "nofollow"} Forum
          %li
            %a#n-People{:href => "/People"} People
          / /LANGUAGES
          / 0
          %li
            %a#n-Search.search-link
              %i.icon-search>
              Search
            %form#nav-searchform.navbar-search{:action => "/index.php"}
              %input#nav-searchInput.search-query{:accesskey => "f", :name => "search", :placeholder => "Search", :title => "Special:Search", :type => "search", :value => ""}/
              %input#mw-searchButton.searchButton.btn.hidden{:name => "fulltext", :title => "Search the pages for this text", :type => "submit", :value => "Search"}/
          / /0
    / content
    %section#content.mw-body.container.0
      #top
      #mw-js-message{:style => "display:none;"}
      / bodyContent
      #bodyContent
        / jumpto
        #jump-to-nav.mw-jump
          Jump to:
          = succeed "," do
            %a{:href => "#mw-head"} navigation
          %a{:href => "#p-search"} search
        / /jumpto
        / innerbodycontent
        #innerbodycontent.layout
          %h1#firstHeading.firstHeading.page-header
            %span{:dir => "auto"} Main Page
          / subtitle
          #contentSub
          / /subtitle
          #mw-content-text.mw-content-ltr{:dir => "ltr", :lang => "en"}
            .bg-boxes
              .hero-unit.row
                .intro-stack  
                .offset3.span8.intro-text
                  %p
                    The most up-to-date OpenStack on the industry's most trusted Linux platform, now easy to install and deploy.
                  %p
                    %span.btn
                      %a{:href => "/Quickstart", :title => "Quickstart"} Quick start →
              .row
                .offset4.span7.pad-sides.begin-content.pull-s
                  %h2
                    %span#Stay_up_to_date_with_RDO.mw-headline Stay up to date with RDO
                  %p
                    There's lots of ways to stay in touch with the RDO community.
                  %p
                    Come to one of the main
                    %a{:href => "/Events", :title => "Events"} Events
                    where some of us will be. Follow us on
                    %a.external.text{:href => "http://twitter.com/rdocommunity/", :rel => "nofollow"} Twitter
                    or our
                    = succeed "." do
                      %a.external.text{:href => "https://plus.google.com/communities/110409030763231732154", :rel => "nofollow"} Google+ community
                    Subscribe to the
                    %a.external.text{:href => "http://www.redhat.com/mailman/listinfo/rdo-list", :rel => "nofollow"} rdo-list mailing list
                    for technical questions, or to the
                    %a.external.text{:href => "http://www.redhat.com/mailman/listinfo/rdo-newsletter", :rel => "nofollow"} newsletter mailing list
                    for monthly community updates.
                  %p
                    And there's a variety of presentations on the
                    %a{:href => "/RDO_videos", :title => "RDO videos"} RDO videos
                    page from our hangouts and conference presentations you may have missed.
                  %h2
                    %span#Introducing_RDO.mw-headline Introducing RDO
                  .floatright
                    %a{:href => "//openstack.org", :rel => "nofollow"}
                      %img.openstack-distribution-logo{:alt => "An OpenStack distribution", :height => "70", :src => "/images/8/83/Openstack-distribution.png", :width => "155"}/
                  %p.text-focus
                    RDO is a community of people using and deploying OpenStack on Red Hat Enterprise Linux, Fedora and distributions derived from these (such as CentOS, Scientific Linux and others). We have
                    = succeed "," do
                      %a{:href => "/Docs", :title => "Docs"} documentation to help get started
                    %a.external.text{:href => "http://rdoproject.org/forum", :rel => "nofollow"} forums
                    where you can connect with other users, and
                    %a{:href => "/Quickstart", :title => "Quickstart"} community-supported  packages
                    of the most up-to-date OpenStack releases available for download.
                  %p.text-focus
                    If you are looking for enterprise-level support, or information on partner certification, Red Hat also offers
                    = succeed "." do
                      %a.external.text{:href => "//redhat.com/en/technologies/linux-platforms/openstack-platform", :rel => "nofollow"} Red Hat OpenStack Platform
                  %p.text-secondary OpenStack relies on the underlying operating system and hypervisor — and what better operating system to build on than the industry's leading enterprise operating system? The RDO community is your one-stop community site for all things related to using OpenStack on Red Hat based platforms.
              .row
                .span7.offset4.pad-sides.begin-content.pull-m
                  %h2
                    %span#Networking_with_OpenStack.mw-headline Networking with OpenStack
                  %p
                    On
                    = succeed "," do
                      %b Thursday, October 31st
                    Brent Eagles gave a presentation on advanced networking with OpenStack.
                  .thumb.center
                    .thumbinner{:style => "width: 630px;"}
                      %iframe{:allowfullscreen => "true", :frameborder => "0", :height => "473", :src => "http://www.youtube.com/embed/wEa_8ESxPAY?showsearch=0&amp;modestbranding=1", :width => "630"}
                      .thumbcaption
                        .thumbcaption
                  %p
                    You can see some earlier presentations on the
                    %a.mw-redirect{:href => "/RDO_Videos", :title => "RDO Videos"} RDO Videos
                    page.
                  %h2
                    %span#Red_Hat_Expertise.mw-headline Red Hat Expertise
                  %p.text-secondary
                    From the Linux kernel and the KVM hypervisor to the top level OpenStack project components, Red Hat has expertise at every level of the stack.
                    Whether you want to run a proof of concept of OpenStack on CentOS, or you want to prepare a production cloud and you are evaluating partners for your deployment, who better to go to than the number one contributor to OpenStack?
                  %p.text-secondary
                    When you're ready for production, and you want support from a partner you know, Red Hat offers you the
                    = succeed "," do
                      %a.external.text{:href => "//access.redhat.com/products/red-hat-openstack-platform/", :rel => "nofollow"} Red Hat OpenStack Platform
                    with its partner certification program.
              .row
                .span7.offset4.pad-sides.begin-content.pull-l
                  %h2
                    %span.mw-headline{:id => "Download_and_get_started.21"} Download and get started!
                  .text-focus
                    %p
                      In just a few short steps, you can transform any machine running Fedora, Red Hat Enterprise Linux, CentOS, Scientific Linux, or any other Red Hat Enterprise Linux based distribution into an OpenStack powerhouse.
                  .button-wrap
                    %p
                      %span.btn
                        %a{:href => "/Quickstart", :title => "Quickstart"} QUICK START →
                      We'll help you get set up
              .block-highlight
                .row
                  .span7.offset4.pad-sides.begin-content.pull-m
                    %h2
                      %span#From_the_forums.mw-headline From the forums
                    .forum-blurbs
                      .forum-blurb
                        .forum-blurb-content
                          %a.external.text{:href => "http://rdoproject.org/forum/discussion/379/compute-disaster-recovery-shared-storage-the-kitchen-sink", :rel => "nofollow"} Compute Disaster Recovery, Shared Storage &amp; the Kitchen Sink
                        .forum-blurb-info
                          3 replies, updated
                          %abbr.timeago{:title => "2013-07-30"} 2013-07-30
                      .forum-blurb
                        .forum-blurb-content
                          %a.external.text{:href => "http://rdoproject.org/forum/discussion/137/packstack-fails-setting-up-ssh-keys", :rel => "nofollow"} packstack fails setting up ssh keys
                        .forum-blurb-info
                          6 replies, updated
                          %abbr.timeago{:title => "2013-05-22"} 2013-05-22
                      .forum-blurb
                        .forum-blurb-content
                          %a.external.text{:href => "http://rdoproject.org/forum/discussion/548/attaching-volume-to-instance-failed-", :rel => "nofollow"} Attaching Volume to Instance failed.
                        .forum-blurb-info
                          5 replies, updated
                          %abbr.timeago{:title => "2013-09-13"} 2013-09-13
                      .forum-blurb
                        .forum-blurb-content
                          %a.external.text{:href => "http://rdoproject.org/forum/discussion/906/rdo-mobile-app", :rel => "nofollow"} RDO mobile app?
                        .forum-blurb-info
                          4 replies, updated
                          %abbr.timeago{:title => "2013-11-17"} 2013-11-17
                      %p
                        %br/
                    %p
                      %a.external.text{:href => "http://rdoproject.org/forum", :rel => "nofollow"} Participate in the forum
              .row
                .span7.offset4.pad-sides.begin-content.pull-m
                  %h2
                    %span#Join_the_community.mw-headline Join the community
                  %p.text-focus
                    There are many ways to
                    %a{:href => "/Get_involved", :title => "Get involved"} get involved
                    with the RDO community once you
                    = succeed "." do
                      %a{:href => "/Quickstart", :title => "Quickstart"} get started
                    The simplest way is to join
                    %a.external.text{:href => "http://rdoproject.org/forum", :rel => "nofollow"} the RDO forums
                    and help out other users by sharing your experiences.
                  %p
                    For a commercially-supported enterprise ready OpenStack solution, Red Hat provides
                    = succeed "," do
                      %a.external.text{:href => "//redhat.com/en/technologies/linux-platforms/openstack-platform", :rel => "nofollow"} Red Hat OpenStack Platform
                    an enterprise-class cloud platform based on OpenStack Grizzly.
                  %p
                    %br/
            /
              NewPP limit report
              Preprocessor visited node count: 75/1000000
              Preprocessor generated node count: 168/1000000
              Post-expand include size: 116/2097152 bytes
              Template argument size: 0/2097152 bytes
              Highest expansion depth: 2/40
              Expensive parser function count: 0/100
            / Saved in parser cache with key my_wiki-mw_:pcache:idhash:1-0!*!0!!*!2!* and timestamp 20131213151737
        / /innerbodycontent
        / printfooter
        .printfooter
          Retrieved from "
          %a{:href => "http://rdoproject.org/index.php?title=Main_Page&amp;oldid=1808"}> http://rdoproject.org/index.php?title=Main_Page&amp;oldid=1808
          "
        / /printfooter
        / catlinks
        #catlinks.catlinks.catlinks-allhidden
        / /catlinks
        .visualClear
        / debughtml
        / /debughtml
      / /bodyContent
    / /content
    / footer
    #footer.footer.container.custom-footer
      .footer-line
        .pull-left
          \&copy;2013 Red Hat, Inc.
          %a{:href => "/Legal"} Legal &amp; Privacy
        .pull-right.rh-community
          The
          %strong RDO
          site is a
          %strong Red Hat
          community service for users of
          %strong OpenStack
          on Red Hat based platforms.
      %script{:src => "/skins/strapping/jquery.timeago.js", :type => "text/javascript"}
      :javascript

      / begin eloqua tracking
      %script{:language => "JavaScript", :src => "//www.redhat.com/j/elqNow/elqCfg.js", :type => "text/javascript"}
      %script{:language => "JavaScript", :src => "//www.redhat.com/j/elqNow/elqImg.js", :type => "text/javascript"}
      / end eloqua tracking
      / begin Omniture tracking
      /
        SiteCatalyst code version: H.25.4
        
        Copyright 1996-2013 Adobe, Inc. All Rights Reserved
        More info available at http://www.omniture.com
      #oTags
        %script{:src => "//www.redhat.com/assets/js/noncms_s_code.js", :type => "text/javascript"}
        :javascript

        %script{:src => "//www.redhat.com/j/rh_omni_footer.js", :type => "text/javascript"}
        %script{:language => "JavaScript", :type => "text/javascript"}
          /
            if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
            \//
        %noscript
          %a{:href => "http://www.omniture.com", :title => "Web Analytics"}
            %img{:alt => "", :border => "0", :height => "1", :src => "https://smtrcs.redhat.com/b/ss/redhatcom,redhatglobal/1/H.25.4--NS/0?[AQB]&cdp=3&[AQE]", :width => "1"}/
        / /DO NOT REMOVE/
      / End SiteCatalyst code version: H.25.4
      / End Omniture tracking
    :javascript
      if(window.mw){
      mw.loader.state({"site":"loading","user":"missing","user.groups":"ready"});
      }
    %script{:src => "http://rdoproject.org/load.php?debug=false&amp;lang=en&amp;modules=skins.strapping&amp;only=scripts&amp;skin=strapping&amp;*"}
    :javascript
      if(window.mw){
      mw.loader.load(["mediawiki.user","mediawiki.page.ready","mediawiki.searchSuggest"], null, true);
      }
    :javascript
      if(window.mw){
      mw.loader.state({"site":"ready"});
      }
    / Served in 0.378 secs.
