---
title: Troubleshooting
category: documentation
authors: dneary, jasonbrooks, msolberg, rbowen
wiki_category: Documentation
wiki_title: Troubleshooting
wiki_revision_count: 19
wiki_last_updated: 2013-08-28
---

:markdown
  # Troubleshooting

  Every piece of software as complex as OpenStack has some pitfalls in its usage. We will use this page to collect tips and tricks related to installation and configuration issues, and issues which people run into during the lifetime of their OpenStack deployment.

  * [Getting Started](/documentation/getting-started/)
  * [Troubleshooting networking](/troubleshooting/networking/)
  * [SELinux issues](/documentation/selinux-issues/)
  * [Accessing Nagios](/documentation/accessing-nagios/)
  * [Uninstalling RDO](/install/uninstalling-rdo/)
  * [Keystone integration with Red Hat IDM/FreeIPA](/documentation/keystone-integration-with-idm/)
  * [qpidd/AMQP troubleshooting](/troubleshooting/qpid-errors/)

.ask-solutions
  :markdown
    ## Solutions from Ask.RDOproject.org

    The following list is the top 20 common issues with answers using the
    RDO tag, direct from the OpenStack Q&A forum.

    If you cannot find the answer you need above or below,
    [browse all RDO Q&A](http://ask.rdoproject.org/),
    [all general OpenStack questions](https://ask.openstack.org/), or 
    [ask a new question](https://ask.openstack.org/en/questions/ask/?tags=RDO).

  
  %ul.ask-blurbs
    :ruby
      os_data = Oj.load open('https://ask.openstack.org/en/api/v1/questions/?tags=rdo')

    - os_data['questions'].sort_by{|r| r['view_count']}.reverse.reject {|r| r['answer_count'] < 1}.take(20).each do |question|

      -#- next if question['answer_count'] < 1
      -#- next if question['score'] < 1
      -#- next unless question['accepted_answer_id']

      %li.ask-blurb
        .ask-blurb-content
          = link_to question['title'], question['url']
        -#.ask-blurb-info
          %span.author= question['author']['username']
          -#.date= Time.at question['last_activity_at'].to_i
          %time.timeago{datetime: Time.at(question['last_activity_at'].to_i).iso8601}
            = Time.at(question['last_activity_at'].to_i).to_date
          -#.summary= question['summary']
          .answers
            answers:
            = question['answer_count']
          .answer
            accepted answer:
            = question['accepted_answer_id']
          .viewcount
            views:
            = question['view_count']
          .score
            score:
            = question['score']

  :markdown
    
    [View all RDO Q&A...](http://ask.rdoproject.org/){:.more-link}
